*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}

header {
  max-width: 140rem;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 2rem 2rem 0;
}

.logo {
  height: 4rem;
}

.header-btn {
  text-decoration: none;
  font-size: 2rem;
  padding: 1.5rem 3rem;
  border-radius: 5rem;
  color: #fff;
  z-index: 10;
  background-color: #13183f;
  transition: all 0.2s;
}

.header-btn:hover,
.header-btn:active {
  background-color: #313c92;
  transform: scale(1.05);
}

.hero-background {
  background-image: url(../img/image-hero-desktop.png);
  position: absolute;
  top: 0;
  right: 0;
  height: 938px;
  background-repeat: no-repeat;
  background-position: 13rem -16rem;
  width: 50%;
}

.top-section {
  max-width: 140rem;
  margin: 0 auto;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 61rem;
  gap: 3rem;
}

.main-heading {
  font-size: 5rem;
}

.main-text {
  font-size: 1.7rem;
  width: 72%;
  font-weight: 500;
  opacity: 0.5;
}

.main-btn {
  text-decoration: none;
  font-size: 2rem;
  padding: 1.5rem 3rem;
  border-radius: 5rem;
  color: #fff;
  background: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
  width: fit-content;
  transition: all 0.2s;
}

.main-btn:hover,
.main-btn:active {
  background: linear-gradient(360deg, #ff6f48 0.04%, #f02aa6 100%);
  transform: scale(1.05);
}

.cards-section {
  max-width: 140rem;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.cards {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}

.card {
  background-color: #fff;
  padding: 3rem;
  border-radius: 1.5rem;
}

.card img {
  position: relative;
  top: -6rem;
}

.card h3 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.card p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  opacity: 0.5;
  font-weight: 500;
}

.card a {
  font-size: 1.7rem;
  color: #f74780;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 2rem;
  transition: all 0.2s;
}

.card a:hover,
.card a:active {
  color: #f98eb0;
  transform: scale(1.1);
}

.card:nth-child(1) {
  background: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  padding-top: 8rem;
}

footer {
  background-color: #13183f;
  padding: 3rem;
}

.footer-container {
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-btn {
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);
  text-decoration: none;
  font-size: 2rem;
  padding: 1.5rem 3rem;
  border-radius: 5rem;
  color: #fff;
  z-index: 10;
  transition: all 0.2s;
}

.footer-btn:hover,
.footer-btn:active {
  background: linear-gradient(360deg, #4851ff 0%, #f02aa6 99.92%);
  transform: scale(1.05);
}
